# Masukan APP ID ambil di web my.telegram.org
APP_ID = "22739204"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "047114959f334260b425d5a2d3a5487d"

# Masukan BOT TOKEN dari @botfather
TG_BOT_TOKEN = "7672714120:AAFPIWD0SCSU4LBgg1UEa8EZQSoUiT4SwPU"

# Masukan User ID untuk hak ADMINS di bot
# Gunakan Spasi Untuk Pemisah User ID [ Untuk Multi ADMINS ]
ADMINS = "1506963557 1308212752"

# Masukan Username Telegram mu tanpa @
OWNER = "fsyrl9"

# Masukan Chat ID dari Group/Channel Untuk Wajib Subscribenya
# Bila tidak ingin dipakai Fsubnya, isi dengan 0
# Bila ingin menambah button, salin variabel dibawah dan ganti angkanya
# Contoh: FORCE_SUB2, FORCE_SUB3, dst
FORCE_SUB1 = -1002175887941
FORCE_SUB2 = -1002239827921
FORCE_SUB3 = -1001716816246

# Masukan ID Channel Untuk [Channel Database]
CHANNEL_ID = -1002498076528

# URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgresql://evadb_owner:l2d8PojNOtAn@ep-misty-brook-a5stybd0.us-east-2.aws.neon.tech/evadb?sslmode=require"

# Fitur PROTECT_CONTENT adalah Untuk MENCEGAH pengguna bot untuk mendownload/memforward/mengscreenshot konten yang dikirim di bot
# Untuk Mengaktifkan PROTECT_CONTENT Ubah ke True
# Untuk Menonaktifkan PROTECT_CONTENT Ubah ke False
PROTECT_CONTENT = True

